
@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-6" style="text-align: center;background: url(https://www.antoloji.com/content/img/popular_poem_bg.jpg) #fff top right no-repeat;">
     
        <h1>Aysel Git Başımdan</h1>
        <div class="pd-text">
            <p>
                    
                Aysel git başımdan ben sana göre değilim <br>
                Ölümüm birden olacak seziyorum. <br>
                Hem kötüyüm karanlığım biraz çirkinim <br>
                Aysel git başımdan istemiyorum. </p><p>Benim yağmurumda gezinemezsin üşürsün <br>
                Dağıtır gecelerim sarışınlığını <br>
                Uykularımı uyusan nasıl korkarsın, <br>
                hiçbir dakikamı yaşayamazsın. <br>
                Aysel git başımdan ben sana göre değilim. <br>
                Benim icin kirletme aydınlığını, <br>
                hem kötüyüm karanlığım biraz çirkinim </p><p>Islığımı denesen hemen düşürürsün, <br>
                gözlerim hızlandırır tenhalığını <br>
                Yanlış şehirlere götürür trenlerim. <br>
                Ya ölmek ustalığını kazanırsın, <br>
                ya korku biriktirmek yetisini. <br>
                Acılarım iyice bol gelir sana, <br>
                sevincim bir türlü tutmaz sevincini. <br>
                Aysel git başımdan ben sana göre değilim. <br>
                Ümitsizliğimi olsun anlasana <br>
                hem kötüyüm karanlığım biraz çirkinim. </p><p>Sevindiğim anda sen üzülürsün. <br>
                Sonbahar uğultusu duymamışsın ki <br>
                içinden bir gemi kalkıp gitmemiş, <br>
                uzak yalnızlık limanlarına. <br>
                Aykırı bir yolcuyum dünya geniş, <br>
                Büyük bir kulak çınlıyor içimdeki. <br>
                Çetrefil yolculuğum kesinleşmiş. <br>
                Sakın başka bir şey getirme aklına. <br>
                Aysel git başımdan ben sana göre değilim, <br>
                ölümüm birden olacak seziyorum, <br>
                hem kötüyüm karanlığım biraz çirkinim. <br>
                Aysel git başımdan seni seviyorum...
            </p>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: center;background: url(https://www.antoloji.com/content/img/popular_poem_bg.jpg) #fff top right no-repeat;">
        <h1>Ben Sana Mecburum</h1>
        <div class="pd-text">
            <p>
                    
                Ben sana mecburum bilemezsin <br>
                Adını mıh gibi aklımda tutuyorum <br>
                Büyüdükçe büyüyor gözlerin <br>
                Ben sana mecburum bilemezsin <br>
                İçimi seninle ısıtıyorum. </p><p>Ağaçlar sonbahara hazırlanıyor <br>
                Bu şehir o eski İstanbul mudur <br>
                Karanlıkta bulutlar parçalanıyor <br>
                Sokak lambaları birden yanıyor <br>
                Kaldırımlarda yağmur kokusu <br>
                Ben sana mecburum sen yoksun. </p><p>Sevmek kimi zaman rezilce korkuludur <br>
                İnsan bir akşam üstü ansızın <br>..........<br>..........<br><br>
            </p>
        </div>
    </div>
</div>