<div id="head">
    <div id="logo">
        <h1><a href="/"><strong><span>Ş</span>iir</strong><span>Gezgini</span></a></h1>
    </div>
    <div id="quicklinks">
        <ul>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Eserimi Yayınla</a></li>
            <li class="last"><a href="#">Sizden Gelenler</a></li>
        </ul>
    </div>
</div>


