<div id="introbox">
    <div>{</div>
    <h2>A typographical website template.</h2>
    <p>
        Elegant Typo is an imageless free HT
        ML website template that only uses CSS for layout styling.
    </p>
</div>
